* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}
/* ALL COLOR */
:root {
  --darkorange: #df1529;
  --lightorange: #fcf3f3;
  --darkgray: rgb(55, 55, 63);
  --darkblue: #212529;
  --yellowColor: #ffc107;
  --colorPrice: #ce1212;
  --backgrandColor: #f2f2f2;
  --fontAmntic: "Amatic SC", sans-serif;
  --backgrondWhite: white;
  --lightWhite : rgba(255, 255, 255, 0.63);
}

/* STYEL NAV BARE */
nav {
  padding: 10px;
  padding-inline: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-book,
.btn-tabale-about {
  color: var(--backgrandColor);
  background-color: var(--colorPrice);
  border-radius: 10px;
  width: 100px;
  border: none;
  padding: 8px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.links a {
  text-decoration: none;
  color: var(--darkgray);
  position: relative;
}

.links a::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  color: #df1529;
  top: 0;
  left: 0;
}

.logo {
  color: var(--darkblue);
}
.logo span {
  color: #ce1212;
}
/* STYEL SECTION ABOUT */

.about {
  display: grid;
  grid-template-columns: 40% 30%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--backgrandColor);
  height: 70%;
}

.btn-about {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content-about {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.round-play {
  width: 30px;
  height: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid var(--darkorange);
}
.round-play i {
  color: var(--colorPrice);
}
.play-vedio {
  display: flex;
  align-items: center;
  gap: 10px;
}
.play-vedio a {
  text-decoration: none;
  color: var(--darkblue);
  transition: all 0.4s ease-in-out;
}
.play-vedio a:hover {
  color: #df1529;
}
.img-about img {
  width: 100%;
}

.content h1 {
  color: var(--darkblue);
  font-family: var(--fontAmntic);
  font-size: 50px;
}
.content h4 {
  font-weight: 300;
  color: var(--darkgray);
}

.up-down {
  animation: up-down 3s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(-10px);
  }
}

/* STYLE ABOUT US */

.about-us {
  display: grid;
  grid-template-rows: 20% 1fr;
  height: 128%;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.title h5 {
  color: var(--darkgray);
}
.title h1 {
  font-family: var(--fontAmntic);
}
.title span {
  color: var(--darkorange);
}

.content-img-about-us {
  display: grid;
  grid-template-columns: 45% 30%;
  gap: 20px;
  justify-content: center;
}
.img-about-us {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.num-book-table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border: 7px solid var(--darkblue);
  width: 100%;
  height: 20%;
}
.num-book-table .num {
  color: #ce1212;
  font-size: 40px;
}
.num-book-table h1 {
  font-size: 40px;
}
.img-about-us img {
  width: 100%;
}
.icone-check {
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 30px;
  height: 30px;
  background-color: var(--darkorange);
}
.icone-check i {
  color: var(--backgrandColor);
}
.firstP {
  color: var(--darkgray);
}
.para-us {
  display: flex;
  align-items: center;
  gap: 8px;
}

.content-about-us {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.img-play {
  width: 100%;
  height: 100%;
  background-image: url("/public/img/about-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.img-play div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkorange);
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translateX(-50%, -50%);
}

.img-play div i {
  color: var(--backgrandColor);
}
/* SECTION CARD */
.card {
  height: auto;
  display: grid;
  padding: 40px;
  background-color: var(--backgrandColor);
  grid-template-columns: 27% 17% 17% 17%;
  gap: 20px;
  justify-content: center;
}

.card-first {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--backgrandColor);
  background-color: var(--darkorange);
  gap: 40px;
  padding: 10px;
}

.btn-card {
  border: none;
  background-color: var(--colorPrice);
  border-radius: 8px;
  padding: 20px;
  color: var(--backgrondWhite);
}

.btn-card:hover {
  color: var(--darkorange);
  background-color: var(--backgrondWhite);
}
.content-card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  background-color: var(--backgrondWhite);
}

.content-card div {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--lightorange);
}
.content-card div i {
  font-size: 30px;
  color: var(--colorPrice);
}

.content-card div:hover {
  color: var(--backgrondWhite);
  background-color: var(--darkorange);
}

.content-card div i:hover {
  color: var(--backgrondWhite);
}

.content-card h3 {
  color: var(--darkblue);
}
.content-card p {
  font-weight: 400;
  color: var(--darkgray);
}

/* STAYLE STATUS */
.status {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  height: 60%;
  width: 100%;
  background: url("/public/img/stats-bg.jpg") center / cover no-repeat;
}
.status::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: var(--darkblue);
  opacity: 0.7;
}
.status div{
  position: relative;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.status h1{
  color: var(--backgrondWhite);
  
}
.status p{
  color: var(--lightWhite);
}
